---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="image">
    <div>
        <img src="/public/velada.jpeg.webp" alt="bkb" class="animate-fade-in-up md:h-[400px] md:w-[600px] h-[200px] w-[300px]">
    </div>
</Layout>