<footer class="w-full border-t-primary border-2 pt-10 flex flex-col md:flex-row justify-center md:justify-between  pb-20 gap-y-10 mt-20">
    <span class="text-primary text-center">
        2024 La Velada del año <span aria-hidden class="hidden md:inline">|</span> <br aria-hidden class="block md:hidden">Todos los derechos reservados.
    </span>

    <ul class="flex flex-col md:flex-row mt-8 justify-center items-center  gap-6">
        <li class="bg-primary mb-5 py-2 px-2 rounded-2xl hover:scale-125 hover:opacity-70">
            <a href="#" 
            target="_blank"
            rel="noopener" 
            >
                <img src="./instagram.png" alt="">
            </a>
        </li>
        <li class="bg-primary mb-5 py-4 px-4 rounded-2xl hover:scale-125 hover:opacity-70">
            <a href="#"  >
                <img src="./twitter.png" alt="">
            </a>
        </li>
    </ul>
</footer>