---

---
<section class=" flex flex-col text-primary gap-y-10 mb-11 my-32">
    <div class="mb-9 flex justify-center items-center hover:text-purple-700 transition-all hover:scale-110 hover:opacity-70">
       <a href="https://www.twitch.tv/" target="_blank"
       rel="noopener">
          <img src="/public/twitch.png" class="w-[78px] h-[78px]  bg-primary rounded-xl " alt="">
       </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 uppercase text-center gap-x-8">
        <article class="flex order-3 md:order-1 justify-center py-28 px-16 border-y-2 border-primary mb-10">
            <h5 class="text-xl">Presentación, Pesaje, Entrevista y Cara a Cara</h5>
        </article>
        <article class="flex order-2 md:order-2 col-span-2 justify-center py-28 px-16 border-y-2 border-primary mb-10">
            <h4 class="text-5xl hover:text-purple-700 transition-all hover:scale-110">Síguelo en directo twich.tv</h4>
        </article>
        <article class="flex order-1 md:order-3 justify-center py-28 px-16 border-y-2 border-primary mb-10">
            <h5 class="text-xl ">
                <a  href="https://www.twitch.tv/" 
                 target="_blank"
                 rel="noopener">
                    Con la presencia de los boxeadores
                </a>
            </h5>
        </article>
    </div>
</section>