<section class="animate-fade-in animate-delay-500 mt-32 mx-auto flex flex-col justify-center items-center text-center text-primary">
    <h2 class=" uppercase text-5xl font-semibold">4 de Marzo<span aria-hidden class="hidden md:inline mx-1">-</span><br aria-hidden class="block md:hidden">
        <span>
            <script is:inline>
                
                const selfScript = document.currentScript
                selfScript.parentNode.innerHTML='19:00 HS'
            </script>
        </span>
    </h2>
    <h3 class=" uppercase mb-20 text-2xl font-medium flex flex-col max-w-sm mt-6">
        <span>Evento de Presentación</span>
        <span>Teatro Victoria (Barcelona)</span>
    </h3>
    <a href="#"
        target="_black"
        class="border-primary uppercase border-2 font-medium px-6 py-2 mt-8 hover:bg-primary hover:text-white hover:scale-125 transition-all duration-500  hover:rounded-2xl">
         Entradas agotadas
    </a>
</section>